<launch>
  <param name="robot_description" textfile="$(find gazebo_sim)/urdf/test_robot.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_sim)/worlds/empty.world"/>
  </include>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model test_robot -param robot_description" output="screen"/>
</launch>